# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Environment files
.env
.env.*


# Virtual Environment
.venv/
venv/
ENV/
env/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
.pytest_cache

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore
